.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    color: #cc0000;
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    color: black;
    font-size: 25px;
    margin-top: 55px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hotline-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-header {
    display: flex;
    background-color: rgb(24, 111, 101);
    color: white;
    font-weight: bold;
}

.table-row {
    display: flex;
    background-color: #d2e4c7;
    transition: background-color 0.2s;
}

.table-row:hover {
    background-color: #c3d7b8;
}

.column {
    padding: 12px 16px;
    flex: 1;
    font-size: 1rem;
}

.column.phone {
    flex: 0.3;
    border-left: 3px solid #fff;
}

.last-table {
    text-align: center;
}

.last-table .column.phone {
    flex: 0.8;
}

@media (max-width: 600px) {

    .table-header,
    .table-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .column.phone {
        text-align: left;
    }
}